# Environment variables
.env
.env.local

# Node modules
node_modules/

# Ignoring config directory if it contains sensitive information
config/

# Logs
logs/
*.log

# Operating system specific files
.DS_Store
Thumbs.db
